In [4]:
import pandas as pd
d = {'x':[1, 2, 3, 4], 'y':[6,7, 8, 9]}
df = pd.DataFrame(d)
df.set_index('x')

   y
x
1  6
2  7
3  8
4  9

In [7]:
df['x']=df.iloc[0]

In [8]:
df

    x  y
0 NaN  6
1 NaN  7
2 NaN  8
3 NaN  9